{% if template == 'product' and product.vendor == 'zestard-easy-donation' %} 
<div class='donation' id='zeFxNGuPooxaI' page='product' productid='{{ product.id }}'></div>
{% endif %}
{% if template == 'cart' %}
<div class='donation' id='zeFxNGuPooxaI' page='cart'></div>
{% endif %}