<div class = "shopify-link">
  <p>This product is not for use by or sale to persons under the age of 18. This product should be used
only as directed on the label. It should not be used if you are pregnant or nursing. Consult with a
physician before use if you have a serious medical condition or use prescription medications. A
Doctor's advice should be sought before using this and any supplemental dietary product. All
trademarks and copyrights are property of their respective owners and are not affiliated with nor do
they endorse this product. These statements have not been evaluated by the FDA. This product is
not intended to diagnose, treat, cure or prevent any disease. These products contain 0% THC. Individual weight loss results will vary. Contact Support for return policy.
By using this site you agree to follow the Privacy Policy and all Terms & Conditions printed on this
site. Void Where Prohibited By Law.</p>
  <span>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</span><br>
  
</div> 